<template>
  <v-bottom-navigation
    :value="activeBtn"
     grow
      horizontal
     hide-on-scroll
      absolute
    color="deep-purple accent-4"
  >
   <v-btn>
        <span>Recents</span>
        <v-icon>mdi-history</v-icon>
      </v-btn>

    <v-btn>
      <span>Favorites</span>
      <v-icon>mdi-heart</v-icon>
    </v-btn>

    <v-btn>
      <span>Nearby</span>
      <v-icon>mdi-anchor</v-icon>
    </v-btn>

    <v-btn>
      <span>Nearby</span>
      <v-icon>mdi-tennis</v-icon>
    </v-btn>

    <v-btn>
      <span>Nearby</span>
      <v-icon>mdi-watch</v-icon>
    </v-btn>
  </v-bottom-navigation>
  
  
</template>

<script>
  export default {
    data () {
      return {
        activeBtn: 0,
      }
    },
  }
</script>