<template>
  <v-app id="inspire">
  
    <v-app-bar
      app
      color="indigo"
      dark
	>
 
    </v-app-bar>

    <v-footer
      color="indigo"
      app
    >
      <span class="white--text">&copy; 2019</span>
    </v-footer>
  </v-app>
</template>

<script>
  export default {
    props: {
      source: String,
    },
    data: () => ({
      drawer: null,
    }),
  }
</script>