<template>

<VuePerfectScrollbar class="scroll-area"  @ps-scroll-y="scrollHandle" >


  <div class="scrolling-wrapper" >
<!-- 
 <div class="card--content"><h2>Card</h2></div>
  <div class="card--content"><h2>Card</h2></div>
  <div class="card--content"><h2>Card</h2></div>
  <div class="card--content"><h2>Card</h2></div>
  <div class="card--content"><h2>Card</h2></div>
  <div class="card--content"><h2>Card</h2></div>
  <div class="card--content"><h2>Card</h2></div>
  <div class="card--content"><h2>Card</h2></div>
   <div class="card--content"><h2>Card</h2></div>
  <div class="card--content"><h2>Card</h2></div>
  <div class="card--content"><h2>Card</h2></div> -->

 <div class="card--content" v-for="item in list" :key="item" >
 Flex item {{ item }}
  </div>
  <infinite-loading @infinite="infiniteHandler" ></infinite-loading>

</div>
 
</VuePerfectScrollbar>


</template>

<script>
  import InfiniteLoading from 'vue-infinite-loading';
 import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import Vuebar from 'vuebar';

import Vue from 'vue';
Vue.use(Vuebar);

export default {
  data() {
    return {
      list: [],
      settings: {
        maxScrollbarLength: 20
      }
    };
  },
  methods: {
    
    infiniteHandler($state) {
      setTimeout(() => {
        const temp = [];
        for (let i = this.list.length + 1; i <= this.list.length + 10; i++) {
          temp.push(i);
        }
        this.list = this.list.concat(temp);
        $state.loaded();
      }, 1000);
    },
      scrollHandle(evt) {
      window.console.log(evt)
    
    },
  },
  components: {
      InfiniteLoading,
     VuePerfectScrollbar,
    
  },
};


</script>

<style>
.scroll-area {
overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  max-width: 500px;
  max-height: 50%;
  -webkit-overflow-scrolling: touch;
 margin-left: 30%;
 margin-bottom: 20%
}



.card--content {
  background-color: #e74c3c;
display: inline-block; 

 margin-right: 2%;
 margin-bottom: 2%;

}
</style>