<template>
 <!-- <VuePerfectScrollbar class="scroll-area" v-once :settings="settings" @ps-scroll-y="scrollHandle"> -->

  <div class="scrolling-wrapper" >
  <div class="card--content" v-for="item in list"
        :key="item"><h2>Flex item {{ item }}</h2> 
        <!-- Flex item {{ item }} -->
       
          </div>
     
  <!-- <div class="card--content"><h2>Card</h2></div>
  <div class="card--content"><h2>Card</h2></div>
  <div class="card--content"><h2>Card</h2></div>
  <div class="card--content"><h2>Card</h2></div>
  <div class="card--content"><h2>Card</h2></div>
  <div class="card--content"><h2>Card</h2></div>
  <div class="card--content"><h2>Card</h2></div>
  <div class="card--content"><h2>Card</h2></div> -->
<infinite-loading @infinite="infiniteHandler"></infinite-loading>
</div>
  
         
       
 

</template>

<script>
 import InfiniteLoading from 'vue-infinite-loading';
 import axios from 'axios';
//  import VuePerfectScrollbar from 'vue-perfect-scrollbar'
const api = '//hn.algolia.com/api/v1/search_by_date?tags=story';

export default {
  data() {
    return {
      list: [],
       page:1.,
    
       settings: {
        maxScrollbarLength: 2
      }
    };
  },
  methods: {
     infiniteHandler($state) {
      axios.get(api, {
        params: {
          page: this.page,
        },
      }).then(({ data }) => {
        if (data.hits.length) {
          this.page += 1;
          this.list.push(...data.hits);
          $state.loaded();
        } else {
          $state.complete();
        }
      });
    },
     
  },
  components: {
     InfiniteLoading,
  //  VuePerfectScrollbar,
  },
};

 

</script>

<style>
.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  max-width: 600px;
  -webkit-overflow-scrolling: touch;
}
  
.card--content {
  background-color: #e74c3c;
 display: inline-block;
 margin-right: 2%;

}
</style>