<template>
  <v-app>
 

    <v-app-bar
      app
      color="indigo"
      dark
    >
    </v-app-bar>


     <v-content>
      <Slider/>
    </v-content>

     <v-content>
      <imagescroll/>
    </v-content>

    <!-- <v-content>
      <infinitescroll/>
    </v-content> -->

   <v-content>
      <BottomNavi/>
    </v-content>

  </v-app>
</template>

<script>

import BottomNavi from './components/BtmNavi';
import Slider from './components/Slider';
import imagescroll from './components/imagescroll';
  // import infinitescroll from './components/infinitescroll';


export default {
  name: 'App',

  components: {

	BottomNavi,
	Slider,
 imagescroll,
  //  infinitescroll,
  },

  data: () => ({
    //
  }),
};




</script>
